<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/app.css">
  <title>{% block tittle %} {% endblock %}</title>
</head>
<body>
  <nav class='navbar'>
    <a href="/">Home</a>
    <a href="/form">Form</a>
    <a href="/form2">Form2</a>
    <a href="/lucky">Lucky</a>
  </nav>
  <section class="messages">
    {% for msg in get_flashed_messages()%}
    <p>{{msg}}</p>
    {% endfor %}
  </section>
  <main id='content'>
    {% block content %}{% endblock %}

  </main>

<script src='/static/app.js'></script>
</body>
</html>